.main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  width: 100%;
  height: 100vh;
}

.calculatorWrapper {
  width: 450px;
  text-align: center;
  background-color: black;
  height: auto;
  border-radius: 1em;
  padding: 2em 0;
  border: 3px solid #FF9500;
}

.historic {
  color: #cecece;
  text-align: right;
  margin: 1.5em 2.5em;
  word-break: break-all;
}

.result {
  color: white;
  text-align: right;
  margin: 0 1em 1rem 0;
  font-size: 4em;
  word-break: break-all;
}

.key {
  visibility: hidden;
}